{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fas fa-bars"></i> navigation</a>
</span>

{{if .Site.Home.Content }} 
{{.Site.Home.Content}}	
{{else}}           
	{{if eq .Site.Language.Lang "fr"}}
		<h1>Personaliser la page d'accueil</h1>
		<p>
		  Le site fonctionne. Ne pas oublier de personaliser cette page avec votre propre contenu. 3 manières de faire :
		</p>
		<ul>
			<li><b>1. </b> Créer un fichier _index.md dans le dossier <b>content</b> et le remplir de Markdown</li>
			<li><b>2. </b> Créer un fichier index.html dans le dossier <b>static</b> et le remplir de code HTML</li>
		  <li><b>3. </b> Configurer le serveur http pour rediriger automatiquement la homepage vers la page de votre choix dans le site</li>
		</ul>
	{{else}}
		<h1>Curso de programação em R para jornalistas</h1>
		<p>Este site reúne tutoriais e informações para fazer análises, limpezas e extrações de dados com R. Os tutorias deste site são de agosto de 2019. Leia abaixo alguns informações sobre o R, <a href = "https://pt.wikipedia.org/wiki/R_(linguagem_de_programa%C3%A7%C3%A3o)" target = "_blank">retiradas da Wikipédia</a>.</p>

		<h2>O que é o R?</h2>
		<p>R é um ambiente computacional e uma linguagem de programação que vem progressivamente se especializando em manipulação, análise e visualização gráfica de dados.</p>

		<h2>O que são pacotes?</h2>
		<p>R é altamente expansível com o uso dos pacotes. Os pacotes são bibliotecas com dados e funções para diferentes áreas do conhecimento relacionado a estatística e áreas afins.</p>

		<h2>Quando o R foi criado?</h2>
		<p>Foi criado originalmente em 1993 por Ross Ihaka e por Robert Gentleman no departamento de Estatística da Universidade de Auckland, Nova Zelândia. Posteriormente, foi desenvolvido pelo esforço colaborativo de pessoas em vários locais do mundo.</p>

		<h2>Quem usa o R?</h2>
		<p>A linguagem R é usada por estatísticos, analistas de dados, cientistas políticos, jornalistas e outros profissionais para desenvolver softwares e fazer análises de dados.</p>

	{{end}}
{{ end }}  
{{ partial "footer.html" . }}
